<div class="row top-buffer">
    <div class="col-md-9"></div>
    <div class="col-md-3">
    </div>
</div>
<div class='table-responsive  top-buffer'>
    <table class="table table-striped table-bordered" *ngIf='todolist && todolist.length'>
        <thead>
            <tr>
                <th>TodoId</th>
                <th>Title</th>
                <th>Description</th>
                <th>Action date</th>
                <th>IsActive</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tkt of todolist">
                <td>
                    {{tkt.TodoId}}
                </td>
                <td>{{tkt.Titile}}</td>
                <td>{{tkt.Description}}</td>
                <td>{{tkt.actionDate|date: 'dd/MM/yyyy'}}</td>
                <td><input type="checkbox" [checked]="tkt.IsActive" disabled="disabled" /> </td>
            </tr>
        </tbody>
    </table>
</div>